.container {
  max-width: 946px;
  margin-left: 190px;
}

.content {
  display: flex;
  justify-content: space-between;
  color: #000;
  gap: 129px;
  font-size: 16px;
  line-height: 130%;
  padding-left: 16px;
  padding-right: 16px;
}

.description {
  max-width: 630px;
  text-align: left;
}

.contactItem {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

@media (max-width: 790px) {
  .content {
    flex-wrap: wrap-reverse;
    gap: 11px;
  }
  .container {
    margin-left: 0;
  }
}
