.wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap-reverse;
  margin-left: 29px;
  margin-top: 7px;
  gap: 16px;
}

.photoWrap {
  height: 187px;
  width: 187px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.userPhoto {
  width: 100%;
  height: 100%;
}

.namesWrap {
  text-align: left;
}

.name {
  font-size: 64px;
}

.role {
  font-size: 32px;
  margin: 0;
}

@media (max-width: 960px) {
  .name {
    font-size: 36px;
  }
  .role {
    font-size: 20px;
  }
}

@media (max-width: 790px) {
  .wrapper {
    justify-content: center;
    margin-left: 0;
  }
  .role {
    text-align: center;
  }
}

@media (max-width: 659px) {
  .wrapper {
    justify-content: center;
  }
}
