.wrapper {
  display: flex;
  justify-content: start;
  margin-left: 29px;
}

.photoWrap {
  height: 187px;
  width: 187px;
  border-radius: 50%;
  margin-right: 32px;
}

.userPhoto {
  width: 100%;
  height: 100%;
}

.namesWrap {
  text-align: left;
}

.name {
  font-size: 64px;
}

.role {
  font-size: 32px;
  margin: 0;
}
