.titleWrap {
  max-width: 846px;
  margin: 0 auto;
}

.h1 {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}

.p {
  font-size: 20px;
  margin-bottom: 0;
  line-height: 23px;
  margin-top: 16px;
}

@media (max-width: 790px) {
  .h1 {
    font-size: 36px;
  }
  .P {
    font-size: 16px;
    margin-top: 0;
  }
}
