.titleWrap {
  max-width: 846px;
  margin: 0 auto;
}

.h1 {
  font-size: 64px;
  margin-bottom: 16px;
  font-weight: 400;
  margin: 0;
}

.p {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 38px;
}
