/* .userPage {
  display: grid;
  grid-template-columns: 80px auto 80px;
  align-items: start;
  grid-template-areas: "back content exit";
  padding-top: 32px;
  padding-bottom: 39px;
  margin-bottom: 50px;
} */
